
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'NHaasGroteskDSPro-65Md' !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  color: white !important;
}
#carousel{
  max-height: 500px;
}
.carousalImg{
  object-fit: contain !important;
}

.button-green {
  background-color: green;
  color: white;
}

.beverage-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  max-width: 48rem; /* Adjust the maximum width as needed */
  margin: 0 auto;
}

.beverage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
}

.beverage-card img {
  height: 100px; /* Adjust the height as needed */
  object-fit: contain;
  margin-bottom: 1rem;
}

